.custom-img {
    max-height: 200px;
    /* Ensures the image height is consistent */
    object-fit: cover;
    /* Ensures the image covers the card space while maintaining aspect ratio */
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-grow-1 {
    flex-grow: 1;
}