.welcome-box {
    background-color: #fff6f6 !important;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
}

.welcome-box-header {
    font-size: 1rem;
    letter-spacing: 2px;
}

.bulletin-red {
    color: #ff0000;
}

.welcome-quote {
    font-size: 1.2rem;
    font-weight: 600;
}

.welcome-quote span {
    color: #ff0000;
}

.horizontal-news-card {
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    height: 300px;
}


.horizontal-news-card img {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.first-news-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-bottom: 1rem;
}

.first-news-description {
    font-size: 1rem;
    color: black;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.btn-theme {
    background-color: white;
    color: red;
    border: 2px solid red;
    font-weight: bold;
    font-size: 0.85rem;
    padding: 8px;
    margin-top: auto;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-theme:hover {
    background-color: red;
    color: white;
}